div{
    border: 2px solid;
    border-radius: 20px;
    font-size: 20px;
    width: 450px;
    height: 500px;
    padding: 20px;
    margin: 0px auto 0;
    background-color: white;
    border-color: grey;
    
}
    
#image{
    height: 85px;
    width: 150px;
    padding-left: 150px;
}
h1{
    font-family: 'Barlow', sans-serif;
    text-align: center;
}
#ch{
    font-family: 'Rubik', sans-serif;
    padding-top: -30px;
    text-align: center;
}